img {
    display: block;
    background: white;
    animation: fadeFromBlack 2s ease-in-out forwards;
}

@keyframes fadeFromBlack {
    0% {
        background-color: black;
        opacity: 0;
    }

    100% {
        background-color: white;
        opacity: 1;
    }
}