/* ------------------------------------------------- */
/* Base */
/* ------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

:root {
    --red: #780116;
    --orange: #DB7C26;
    --yellow: #F7B538;
    --black: #140004;
    --white: #ffffff;
    --heading: "Boldonse";
    --paragraph: "Roboto Condensed";
}

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* For Desktop */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------- */
/* Header */
/* ------------------------------------------------- */

header {
    background: var(--red);
}

header div {
    display: flex;
    align-items: center;
    padding: 1rem;
}

#logo {
    height: 5rem;
    width: auto;
}

header h1 {
    color: var(--white);
    margin-left: 1rem;
}

header nav {
    display: block;
    background-color: var(--black);
}

#nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#nav-list li a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

#nav-list li a:hover {
    color: var(--red);
}

/* ------------------------------------------------- */
/* Home */
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* Browse */
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* Generate */
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* Join */
/* ------------------------------------------------- */

/* ------------------------------------------------- */
/* Footer */
/* ------------------------------------------------- */

footer {
    background-color: var(--red);
    color: var(--white);
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* For Tablet */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1025px) {
    nav {
        display: flex;
    }
}

/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
/* For Mobile */
/* --------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 640px) {
    nav {
        display: flex;
    }
}